{% block content %}
{% load static %}
{% include 'header.html' %}

<style>
    .table-view {
    width: 100%;
    margin: 20px;
}

.table-view table {
    width: 100%;
    border-collapse: collapse;
}

.table-view th, .table-view td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.table-view th {
    background-color: #f2f2f2;
}

.table-view tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-view tr:hover {
    background-color: #e5e5e5;
}

</style>
<br>
<br>
<br>
<div class="container">
    <h2>Transactions between Dates</h2>
    <form id="search_form" action="date_range" method="post">
        {% csrf_token %}
        <div class="col-lg-4 col-4">
            <label for="start_date">Start Date:</label>
            <input type="date" class="form-control" id="start_date" name="start_date" required>
        </div>
        <div class="col-lg-4 col-4">
            <label for="end_date">End Date:</label>
            <input type="date" class="form-control" id="end_date" name="end_date" required>
        </div>
        <div class="col-lg-4 col-4">
        <button type="submit" class="btn btn-warning" id="search_button">Search</button>
    </div>
    </form>
</div>
<div class="table-view">
    <div class="container">
    <h2>TRANSACTION DETAILS</h2>
    <table id="tblCustomers1">
        <thead>
            <tr>
                <th>Slno.</th>
                <th>Date</th>
                <th>User Name</th>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Rate</th>
                <th>Card Type</th>
                <th>Card Name</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {% for i in user %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{i.date}}</td>
                <td>{{i.name}}</td>
                <td>{{i.pr_id}}</td>
                <td>{{i.product_name}}</td>
                <td>{{i.rate}}</td>
                <td>{{i.cardtype}}</td>
                <td>{{i.cardname}}</td>
                <td>{{i.phone}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
</div>

<center><input type="button" class="btn btn-secondary" id="btnExport" value="Report" onclick="Export1()" /></center>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
  <script type="text/javascript">
      function Export1() {
          html2canvas(document.getElementById('tblCustomers1'), {
              onrendered: function (canvas) {
                  var data = canvas.toDataURL();
                  var docDefinition = {
                      content: [{
                          image: data,
                          width: 500
                      }]
                  };
                  pdfMake.createPdf(docDefinition).download("Transaction_Report.pdf");
              }
          });
      }
  </script>
{% include 'footer.html' %}
{% endblock %}